:root{
    --primary-color:rgb(229,9,20);
    --secondary-color:#0071eb;
    --white-color:#fff;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size:62.5%;
}

body{
    font-family: "Netflix san",sans-serif;
    font-weight: 400;
    background-color:black;
}

a {
    color:inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Embbed font Netflix */

/* lighter */
@font-face {
    font-family: "Netflix san";
    src: url("./fonts/NetflixSans_W_Lt.woff2");
    font-weight: 100;
}

/* regular */
@font-face {
    font-family: "Netflix san";
    src: url("./fonts/NetflixSans_W_Rg.woff2");
    font-weight: 400;
}

/* medium */
@font-face {
    font-family: "Netflix san";
    src: url("./fonts/NetflixSans_W_Md.woff2");
    font-weight: 500;
}

/* bold */
@font-face {
    font-family: "Netflix san";
    src: url("./fonts/NetflixSans_W_Bd.woff2");
    font-weight: 700;
}

/* font-weight:900 */
@font-face {
    font-family: "Netflix san";
    src: url("./fonts/NetflixSans_W_Blk.woff2");
    font-weight: 900;
}
.text-justify{
    text-align: justify;
}
.text-link{
    text-decoration: underline;
    color:rgba(255,255,255,0.7);
}

.text-non-link{
    color:rgba(255,255,255,0.7);
}
.text-xsmall{
    font-size:1.4rem;
}

.text-small{
    font-size:1.6rem;
}

.text-normal{
    font-size:2rem;
}

.text-medium{
    font-size:2.4rem;
}

.text-large{
    font-size:4.8rem;
}

.text-weight-lighter{
    font-weight: 100;
}
.text-weight-medium{
    font-weight: 500;
}
.text-weight-bold{
    font-weight:700
}
.text-weight-900{
    font-weight: 900;
}

.text-white{
    color:var(--white-color)
}

.text-secondary{
    color:var(--secondary-color)
}
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

/* Button */

.btn {
    background:none;
    border:none;
    outline:none;
}

.btn-primary{
    background-color:var(--primary-color);
    color:white;
}

.btn-medium{
    padding: 9px 18px;
    border-radius:4px;
    font-size:14px;
    font-weight: 600;
}

.btn-large{
    padding: 13px 25px;
    font-size:22px;
    font-weight: 600;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.d-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:586px;
    height:56px;
    margin:10px auto;
}

.d-flex .input-default{
    flex:1;
    margin-right:10px;
    height:100%;
    background-color:transparent;
    padding-left:20px;
    color:white;
    font-size:20px;
    border:1px solid red;
}



/* Header */
header{
    overflow: hidden;
}
.header-container{
    width:100%;
    height:700px;
    position:relative;
}
.header-container::after{
    content:"";
    display:block;
    width:100%;
    height:100%;
    top:0;
    position:absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
}
.header-container .heroImage {
    width:100%;
    height:700px;
    object-fit: cover;
    transform: scale(1.25) translateY(-10%);
}

.header-top{
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:0 auto;
    width:100%;
    max-width:90%;
    padding:24px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header-top > img {
    width:148px;
    height:40px;
}

.header-top-right{
    display:flex;
    width:271px;
    justify-content: space-between;
}
.header-select-wrapper{
    position:relative;
    width:144px;
}
.header-select-wrapper select{
    width:144px;
    height:32px;
    background:transparent;
    -webkit-appearance: none;
    text-align: center;
    border-radius:4px;
}

.header-select-wrapper::before{
    content:"";
    background:url("./images/languageicon.svg") no-repeat center center / cover;
    width:16px;
    height:16px;
    position:absolute;
    left:6%;
    top:25%;
}

.header-select-wrapper::after{
    content:"";
    background:url("./images/icondown.svg") no-repeat center center / cover;
    width:16px;
    height:16px;
    position:absolute;
    right:6%;
    top:26%;
}

.header-bottom{
    position:absolute;
    max-width: 80%;
    width:100%;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    margin:189px auto;
    text-align: center;
    z-index: 2;
}

.header-bottom .header-ready{
    margin-bottom:20px;
}

.header-bottom .header-price{
    margin-bottom:20px;
}

.header-bottom .header-title{
    margin-bottom:20px;
}

/* SECTION */

section {
    /* max-height:679px; */
    overflow: hidden;
    border-bottom:8px solid #232323;
}

.section-container{
    width:100%;
    max-width:79%;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-height:679px;
    padding:10% 0;
}
.section-container-left{
    max-width: calc(100% / 2);
    width:100%;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.section-container-left h2{
    margin-bottom:14px;
}
/* image download */
.section-container-left > img{
    width:100%;
    height:100%;
}

.section-container-left .section-left-download-wrapper{
    position: absolute;
    display: flex;
    align-items: center;
    border: 2px solid rgba(128,128,128,0.7);
    box-shadow: 0 0 2em 0 rgb(0,0,0);
    border-radius: 0.75rem;
    height: 104px;
    width: 52%;
    bottom: 46px;
    background-color: black;
    left: 24%;
    padding:8px 12px;
}

.section-container-left .section-left-download-wrapper .section-left-download-image{
    height:80px;
    margin-right:16px;
}

.section-left-download-body p:first-child{
    margin-bottom:2px;
}
.section-container-left .section-left-download-wrapper .section-left-download-icon{
    width:48px;
    height:60px;
    margin-left:auto;
    object-fit: cover;
}
.section-container-right{
    max-height: 546px;
    padding:18% 0;
    height:100%;
    width:100%;
    max-width:calc(100% / 2);
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.section-container-right h2{
    margin-bottom:14px;
}

.section-container-right img{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 2;
    object-fit: cover;
}

.section-container-right .enjoyVideo{
    position: absolute;
    width: 100%;
    max-height: 50%;
    max-width: 64%;
    top: 20%;
    left: 17%;
    z-index: 1;
    object-fit: cover;
}
.section-container-right .watchVideo{
    position: absolute;
    width: 100%;
    max-height: 50%;
    max-width: 62%;
    top: 9%;
    left: 19%;
    z-index: 1;
    object-fit: cover;
}

/* frequent */
.frequentSection{
    padding-bottom:50px;
    width: 100%;
    max-width:80%;
    margin:0 auto;
}
.frequentHeading{
    margin-top:50px;
    margin-bottom:20px;
}

.questionList{
    width:100%;
    margin-bottom:40px;
    position:relative;
}

.questionList .questionItem{
    background-color:#2d2d2d;
    margin-bottom:8px;
    display:flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.questionList .questionItem > p{
    padding:24px;
    flex:1;
    border-bottom:1px solid black;
}
.questionList .questionItem:hover > p{
    cursor: pointer;
    background-color:rgb(65,65,65);
}

.questionList .questionItem >img{
    width:36px;
    height:36px;
    position:absolute;
    top:24px;
    right:24px;
    transition: all 0.1s ease;
}

.questionItem.show >img {
    transform: rotate(45deg);
}
.questionItem.show .answerList{
    height:auto;
    opacity: 1;
}
.answerList{
    height:0;
    opacity: 0;
    transition: all 0.3s ease;
}

.answerList .answerItem{
    padding:24px 24px 0 24px;
}

.answerList .answerItem:last-child{
    padding-bottom:24px;
}

/* Footer */
footer{
    padding:72px 205px;
    overflow: hidden;
}

footer .footerListWrapper{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
footer .footerList{
    margin-top:24px;
}

footer .footerItem{
    margin-bottom:18px;
}
footer .selectFooter{
    margin-top:10px;
}
footer .footerCopyright{
    margin-top:24px;
}